@page
@model SSD_Assignment___shirts4uz.Pages.Orders.EditModel
@{
    ViewData["Title"] = "Edit";
}
<h2>Update Order Details</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.ShirtName" class="control-label"></label>
                <input asp-for="Order.ShirtName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Order.Address" class="control-label"></label>
                <input asp-for="Order.Address" class="form-control" />
                <span asp-validation-for="Order.Address" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.State" class="control-label"></label>
                <input asp-for="Order.State" class="form-control" />
                <span asp-validation-for="Order.State" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.City" class="control-label"></label>
                <input asp-for="Order.City" class="form-control" />
                <span asp-validation-for="Order.City" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PostalCode" class="control-label"></label>
                <input asp-for="Order.PostalCode" class="form-control" />
                <span asp-validation-for="Order.PostalCode" class="textdanger"></span>
            </div>
            <input type="hidden" asp-for="Order.ID" />
            <input type="hidden" asp-for="Order.NameOnCard" />
            <input type="hidden" asp-for="Order.Email" />
            <input type="hidden" asp-for="Order.Price" />
            <input type="hidden" asp-for="Order.UserEmail" />


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
