@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website was developed as part of an assignment for the Secure Software Development module.</p>
<p><b>We do not own any shirts listed on this website.</b></p>
