@page
@model SSD_Assignment___shirts4uz.Pages.Shirts.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shirt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Shirt.Name" class="control-label"></label>
                <input asp-for="Shirt.Name" class="form-control" />
                <span asp-validation-for="Shirt.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Color" class="control-label"></label>
                <input asp-for="Shirt.Color" class="form-control" />
                <span asp-validation-for="Shirt.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Size" class="control-label"></label>
                <!--<input asp-for="Shirt.Size" class="form-control" />-->
                <select asp-for="Shirt.Size" class="form-control">
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <span asp-validation-for="Shirt.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Description" class="control-label"></label>
                <input asp-for="Shirt.Description" class="form-control" />
                <span asp-validation-for="Shirt.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Price" class="control-label"></label>
                <input asp-for="Shirt.Price" class="form-control" type="number"/>
                <span asp-validation-for="Shirt.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.ListDate" class="control-label"></label>
                <input asp-for="Shirt.ListDate" class="form-control" />
                <span asp-validation-for="Shirt.ListDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Category" class="control-label"></label>
                <input asp-for="Shirt.Category" class="form-control" />
                <span asp-validation-for="Shirt.Category" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Shirt.Review" class="control-label"></label>
                <input asp-for="Shirt.Review" class="form-control" />
                <span asp-validation-for="Shirt.Review" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
