@page "{id:int}"
@model SSD_Assignment___shirts4uz.Pages.Shirts.EditModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/img/" + (Model.Shirt.PhotoPath ?? "noimg.jpg");
}

<h1>Edit</h1>

<h4>Shirt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <input hidden asp-for="Shirt.PhotoPath" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shirt.ID" />
            <div class="form-group">
                <label asp-for="Shirt.Name" class="control-label"></label>
                <input asp-for="Shirt.Name" class="form-control" />
                <span asp-validation-for="Shirt.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Color" class="control-label"></label>
                <input asp-for="Shirt.Color" class="form-control" />
                <span asp-validation-for="Shirt.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Size" class="control-label"></label>
                <input asp-for="Shirt.Size" class="form-control" />
                <span asp-validation-for="Shirt.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Description" class="control-label"></label>
                <input asp-for="Shirt.Description" class="form-control" />
                <span asp-validation-for="Shirt.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Price" class="control-label"></label>
                <input asp-for="Shirt.Price" class="form-control" />
                <span asp-validation-for="Shirt.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.ListDate" class="control-label"></label>
                <input asp-for="Shirt.ListDate" class="form-control" />
                <span asp-validation-for="Shirt.ListDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shirt.Category" class="control-label"></label>
                <input asp-for="Shirt.Category" class="form-control" />
                <span asp-validation-for="Shirt.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group row col-sm-4 offset-4">
                <img class="imageThumbnail" src="@photoPath" asp-append-version="true" style="max-width:30rem;" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <input hidden asp-for="Shirt.ListedBy" class="form-control" />
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function () {
        $('.custom-file-input').on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).next('.custom-file-label').html(fileName);
        });
    });
</script>
}
